#imgMM
{
    position: absolute;
    bottom: 80px;
    left: 1620px;
    top: -18px;
  
   
    
}

#sub
{
    color:#29ADB8;
    padding-left:40px;
}

#d1
{
    color:#9C9796;
    left:30px;
    
}
#linea
{
    border-bottom:  5px solid  #29ADB8;
}
#img2
{
    position: absolute;
    right: 75%;
    top: 5px;
   
}

#he
{
    position: fixed;
    background-color:#29ADB8;
    color:#FFFFFF;
    width: 100%;
  
    
}
#espacio
{
    height: 50px;
}